.feed {
    /* border-right: 1px solid #4DA8DA; */
    flex: 0.4;
    min-width: fit-content;
    overflow-y: scroll;
    height: 700px;
}

.feed::-webkit-scrollbar {
    display: none;
}

.feed {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.feedHeader {
    /* border: 1px solid #4DA8DA; */
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    padding: 15px 20px;
    background: #12232E;
}

.feedHeader > h2 {
    font-size: 20px;
    font-weight: 800;
}

.search {
    margin-left: 2%;
    flex: 0.4s;
    /* min-width: fit-content; */
    color: #EEFBFB !important;
}


.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: bottom;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-left: 10px;
}

.btn-primary.focus, .btn-primary:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: #12232E;
    border-color: #12232E;
}

.grid {
    flex-grow: 1,
}
